{
    "env": {
        "amd": true,
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "react-app",
        "react-app/jest",
        // "prettier",
        "airbnb",
        "airbnb/hooks",
        // "prettier/react",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "react",
        "prettier",
        "react-hooks"
    ],
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    [
                        "@src",
                        "./src/"
                    ],
                    [
                        "@components",
                        "./src/components/"
                    ],
                    [
                        "@pages",
                        "./src/pages/"
                    ],
                    [
                        "@utils",
                        "./src/utils/"
                    ],
                    [
                        "@styles",
                        "./src/styles/"
                    ],
                    [
                        "@assets",
                        "./src/assets/"
                    ],
                    [
                        "@constants",
                        "./src/constants/"
                    ],
                    [
                        "@reducers",
                        "./src/reducers/"
                    ],
                    [
                        "@actions",
                        "./src/actions/"
                    ],
                    [
                        "@router",
                        "./src/router/"
                    ],
                ]
            }
        }
    },
    "rules": {
        "prettier/prettier": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "import/prefer-default-export": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        // 有一些 event 的时候，不需要 role 属性，不需要其他解释
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/click-events-have-key-events": 0,
    }
}